<div class="container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <h2><%= @cocktail.name.capitalize %><h2>
        <% if @cocktail.photo? %>
          <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
        <% end %>        
      </div>
    </div>
    <div class="description">
      <div class="description-conten">
        <h3>Liste des Ingredients:</h3>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <% if dose.persisted? %>
              <li>
                <%= dose.description %> <%= dose.ingredient.name %>
                <%= link_to "&times;".html_safe, dose_path(dose), method: :delete %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%= render "dose_form", cocktail: @cocktail, dose: @dose %>
  <%= link_to 'Back', cocktails_path %>
</div>
